/* FONTS */
/* LINKS */
/* BUTTONS */
/* COLORS */
/*Tier2
@a:#39b54a;
@b:#07e8ef;
@c:#f9ed32;
@d:#f7941d;
@f:#ed1c23;*/
/*Tier2*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}
#header {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  background: #009ddc;
}
#header #logo {
  float: left;
  width: 500px;
  display: inline-block;
}
#header #logo h1 {
  padding: 15px;
  margin: 0;
  color: #ffffff;
  display: inline-block;
}
#header #logo h3 {
  padding: 0 0 0 57px;
  margin: -10px 0 0 0;
  color: #ffffff;
  font-size: 18px;
}
#header .options {
  display: inline-block;
  float: right;
  margin: 25px;
  color: #ffffff;
  font-size: 25px;
}
#header .options span {
  cursor: pointer;
}
#wrapper {
  width: 1000px;
  height: 800px;
  margin: 0px auto;
  padding: 30px 10px;
}
#wrapper .family {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
#wrapper h2 .ion-stats-bars {
  float: right;
  cursor: pointer;
}
#wrapper #main {
  width: 1000px;
  height: 200px;
  margin: 0px auto;
}
#wrapper #main .student {
  position: relative;
  -webkit-transition: width 1s ease-out-in;
  -moz-transition: width 1s ease-out-in;
  -o-transition: width 1s ease-out-in;
  transition: width 1s ease-out-in;
  width: 200px;
  height: 200px;
  padding: 5px 15px;
  display: inline-block;
}
#wrapper #main .student .grades {
  position: absolute;
  top: 15px;
  right: 40px;
  width: 250px;
  display: none;
}
#wrapper #main .student .close {
  position: absolute;
  right: 5px;
  bottom: -60px;
}
#wrapper #main .student.selectedRadial {
  border-radius: 3px;
  background: #f4f4f4;
  color: #000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(200, 200, 200, 0.85);
}
#wrapper #main .student .gpa {
  position: absolute;
  top: 160px;
  left: 43px;
  font-weight: bold;
}
#wrapper #main .student .radial-svg {
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 5px;
  left: 15px;
}
#wrapper #main .student .radial-svg .background {
  fill: #ffffff;
  fill-opacity: 0.01;
}
#wrapper #main .student .radial-svg .label {
  text-anchor: middle;
}
#wrapper #main .student .radial-svg .component {
  fill: #e1e1e1;
}
#wrapper #main .student .radial-svg .component .label {
  text-anchor: middle;
  font-size: 16px;
  fill: #e87d1e;
}
#wrapper #main .student .radial-svg .arc {
  stroke-weight: 0.1;
  fill: #4e8fff;
}
#wrapper #main .student.a .arc {
  fill: #91cc4e;
}
#wrapper #main .student.b .arc {
  fill: #55bd50;
}
#wrapper #main .student.c .arc {
  fill: #4dafa6;
}
#wrapper #main .student.d .arc {
  fill: #8da1b0;
}
#wrapper #main .student.f .arc {
  fill: #34677f;
}
.chart {
  width: 100%;
  margin: 0;
  padding: 0;
}
.chart li {
  display: block;
  height: 30px;
  margin: 3px 0 0 0;
  position: relative;
  font-size: 14px;
}
.chart li:before {
  color: #fff;
  content: attr(title);
  left: 5px;
  top: 2px;
  font-size: 14px;
  position: absolute;
}
.chart li .number {
  color: #000000;
  padding-left: 5px;
  position: absolute;
  top: 2px;
}
.chart li .bar {
  background: #27ae60;
  height: 100%;
  height: 23px;
}
.chart li.a .bar {
  background: #91cc4e;
}
.chart li.b .bar {
  background: #55bd50;
}
.chart li.c .bar {
  background: #4dafa6;
}
.chart li.d .bar {
  background: #8da1b0;
}
.chart li.f .bar {
  background: #34677f;
}
#grade table {
  font-size: 15px;
  margin: 0 0 0 15px;
}
#grade table td {
  padding: 5px 15px;
  color: #ffffff;
}
#grade .a {
  background: #91cc4e;
}
#grade .b {
  background: #55bd50;
}
#grade .c {
  background: #4dafa6;
}
#grade .d {
  background: #8da1b0;
}
#grade .f {
  background: #34677f;
}
